<ion-header>
  <ion-toolbar>
    <ion-title>Proyectos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content">   

    <div id="detalle-proyecto">
    
      <h1> {{ proyecto.proynombre }} </h1>  
      <p> {{ proyecto.proydescripcion }} </p>
      
    </div>

    <div id="tareas">
        <h2>Tareas</h2>

        <div class="tarea" *ngFor="let tarea of tareas">
          {{ tarea.fields.tarenombre }}
        </div>
  
        <p *ngIf="tareas.length == 0"> No hay Tareas para este proyecto </p>
  
    </div>

  </div>
</ion-content>
