<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Proyectos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content">   

    <div id="detalle-proyecto">
    
      <h1> {{ proyecto.proynombre }} </h1>  
      <p> {{ proyecto.proydescripcion }} </p>
      
    </div>

    <div id="tareas">
        <h2>
          <ion-icon name="book"></ion-icon>
          Tareas
        </h2>

        <div class="tarea" *ngFor="let tarea of tareas">
          <h3> {{ tarea.fields.tarenombre }} </h3>
          <ion-progress-bar value="0.5"></ion-progress-bar>
        </div>
  
        <p *ngIf="tareas.length == 0"> No hay Tareas para este proyecto </p>
  
    </div>

  </div>
</ion-content>
