<ion-content>
  <div id="mapId"></div>

  <!-- Botón flotante que actualiza la ubicación actual -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light" (click)="actualizaUbicacion()">
      <ion-icon color="primary" name="locate"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>

<!-- <ion-footer>
  <ion-toolbar>

    <ion-title>Footer</ion-title>

    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="volume-low"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->