<ion-content class="ion-padding">

  <ion-img src="assets/logo.png"></ion-img>

  <form #form="ngForm" (ngSubmit)="registro(form)">

    <ion-item lines="full">
      <ion-label color="primary" position="floating">Nombre completo</ion-label>
      <ion-icon color="primary" slot="start" name="mail"></ion-icon>
      <ion-input type="text" clearInput name="userfullname" (ngModel)="userfullname" required>
      </ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label color="primary" position="floating">E-mail</ion-label>
      <ion-icon color="primary" slot="start" name="mail"></ion-icon>
      <ion-input type="email" clearInput name="useremail" (ngModel)="useremail"
        pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required>
      </ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label color="primary" position="floating">Contraseña</ion-label>
      <ion-icon color="primary" slot="start" name="lock"></ion-icon>
      <ion-input type="password" clearInput name="userpassword" (ngModel)="userpassword" required>
      </ion-input>
    </ion-item>

    <ion-button class="ion-text-capitalize" color="primary" [disabled]="form.invalid" expand="block" type="submit">
      Registrarse
    </ion-button>

  </form>

  <ion-grid fixed>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text routerLink="/login" color="medium">
          <p>Regresar</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>