<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Explorar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      <ion-label class="ion-text-uppercase">
        <ion-text color="medium">
          <h4><b>Decisión - {{tipo}}</b></h4>
        </ion-text>
      </ion-label>
    </ion-list-header>

    <ion-item lines=none routerLink="tarea" detail>
      <ion-icon mode="md" slot="start" name="clipboard"></ion-icon>
      <ion-label>Tarea</ion-label>
    </ion-item>

    <ion-item lines=none routerLink="equipo" detail>
      <ion-icon mode="md" slot="start" name="people"></ion-icon>
      <ion-label>Equipo</ion-label>
    </ion-item>

    <ion-item *ngIf="tipo === 'tiempo'" routerLink="horario" lines=none detail>
      <ion-icon slot="start" name="time"></ion-icon>
      <ion-label>Horario</ion-label>
    </ion-item>

    <ion-item *ngIf="tipo === 'territorio'" routerLink="territorio" lines=none detail>
      <ion-icon slot="start" name="locate"></ion-icon>
      <ion-label>Nuevo Territorio</ion-label>
    </ion-item>

    <ion-item *ngIf="tipo === 'objetivo'" routerLink="objetivo" lines=none detail>
      <ion-icon slot="start" name="shuffle" mode=ios></ion-icon>
      <ion-label>Nuevo Objetivo</ion-label>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="medium">
          CAMBIAR OBJETIVO
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>