ion-img {
  margin-top: 32px;
  width: 65%;
  margin-left: 15%;
}

form {
  margin-top: 46px;
  ion-item {
    margin-bottom: 20px !important;
    border-radius: 2px;
    border-style: solid;
    border-color: var(--ion-color-primary) !important;
  }
  //lowercase
}
