ion-tab-button {
  --background: var(--ion-color-primary) !important;
  --background-focused: #ff8138;
  --color: var(--ion-color-light-shade) !important;
  --color-selected: var(--ion-color-light) !important;
  ion-label {
    display: none;
  }
}

ion-tab-button.tab-selected {
  ion-label {
    display: block;
  }
}
