ion-tab-button {
  --background: var(--ion-color-primary) !important;
  --background-focused: #ff8138;
  --color: var(--ion-color-light-shade) !important;
  --color-selected: var(--ion-color-light) !important;
  /*--ripple-color: #1e1e1e; */
}
