ion-content {
  --background: var(--ion-color-primary) !important;

  ion-grid {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  ion-button {
    --background: var(--ion-color-light) !important;
    --color: var(--ion-color-primary) !important;
    font-weight: bold;
  }

  #linea {
    width: 60%;
    position: absolute;
    left: 68%;
    top: 0%;
  }

  #alcaldia {
    padding: 60px;
    height: 30%;
  }
}
