<ion-header no-border>
  <ion-toolbar>
    <ion-searchbar no-border (ionChange)="listarProyectos($event)" showCancelButton="focus" debounce="300" animated
      placeholder="Buscar proyectos"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="cargando">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!cargando" fixed>
    <ion-row>
      <ion-col *ngIf="proyectos.length > 0">
        <ion-item>
          <ion-label color="medium" lines="full">{{proyectos.length}}
            {{proyectos.length === 1? 'proyecto disponible' : 'proyectos disponibles'}}</ion-label>
          <ion-button slot="end" color="light">
            <ion-icon slot="icon-only" name="options"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>


      <ion-col size="12" *ngFor="let proyecto of proyectos" (click)="irProyecto(proyecto.proyid)">
        <ion-card>
          <ion-card-header>
            <ion-card-title color="dark">{{proyecto.proynombre}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{proyecto.proydescripcion}}
            <ion-item>
              <ion-icon name="radio-button-on" slot="start"></ion-icon>
              <ion-label><b>Andres Mora </b> {{proyecto.proyfechacreacion | date: 'yyyy/MM/d'}}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" *ngIf="proyectos.length===0">
        <ion-item>
          <ion-label color="medium" lines="full">No hay proyectos disponibles</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>