<ion-header no-border>
  <ion-toolbar color="light">
    <ion-searchbar no-border (ionChange)="buscar($event)" showCancelButton="focus" debounce="300" animated
      placeholder="Buscar proyectos"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="cargando">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!cargando" class="ion-no-padding">
    <ion-row>
      <ion-col class="proyecto" *ngIf="proyectos.length > 0">
        <ion-item lines="none">
          <ion-label color="medium">{{proyectosTotales}}
            {{proyectosTotales === 1? 'proyecto disponible' : 'proyectos disponibles'}}</ion-label>
          <ion-button slot="end" color="light">
            <ion-icon slot="icon-only" name="options"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>


      <ion-col size="12" *ngFor="let proyecto of proyectos" (click)="irProyecto(proyecto.proyid)">
        <ion-card>
          <ion-card-header style="padding-left: 0px;">
            <ion-item lines="none">
              <div slot="start" class="circle">{{proyecto.proyectista | iniciales}}</div>
              <ion-label>
                <ion-grid class="ion-no-padding">
                  <ion-row>
                    <ion-col size="5">
                      <p>
                        <b>{{proyecto.proyectista}}</b>
                      </p>
                    </ion-col>
                    <ion-col size="5">
                      <p>
                        <ion-text class="ion-padding-start" color="medium">
                          {{proyecto.proyfechacreacion | date: 'yyyy/MM/d'}} </ion-text>
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-label>
            </ion-item>
            <ion-card-title class="ion-padding-start" color="dark">{{proyecto.proynombre}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{proyecto.proydescripcion}}

            <ion-progress-bar class="ion-margin-top" color="danger" value="0.5"></ion-progress-bar>

            <ion-grid>
              <ion-row>
                <ion-col class="ion-padding-top">
                  <ion-text color="primary"><b>30%</b> </ion-text>
                  <ion-text color="medium">
                    <b>Tareas</b>
                  </ion-text>
                </ion-col>
                <ion-col class="ion-padding-top">
                  <ion-text color="primary"><b>10%</b> </ion-text>
                  <ion-text color="medium">
                    <b>Validado</b>
                  </ion-text>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-icon style="margin-right: 5px;margin-bottom: 5px;
                    margin-top: 0px;" slot="start" name="people"></ion-icon>
                    <ion-text style="margin-bottom: 4px" color="medium">
                      <b>11</b>
                    </ion-text>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col class="sin-proyectos" size="12" *ngIf="proyectos.length===0">
        <ion-item lines="none">
          <ion-label color="medium">No hay proyectos disponibles</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Infinite Scroll -->

  <ion-infinite-scroll [disabled]="!enabled" threshold="150px" (ionInfinite)="incoming($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>