ion-content {
  --background: var(--ion-color-light) !important;
}

.proyecto {
  background: white;
  padding-left: 10px;
  padding-right: 10px;
  h1 {
    margin-top: 0px;
  }
}

.tareas {
  padding-top: 10px;
}
