<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Proyectos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="proyecto">

  <!-- Descripción general del proyecto -->
  <ion-grid class="proyecto" *ngIf="!cargando">
    <ion-row>
      <ion-col size="12">
        <ion-text color="dark">
          <h1> {{proyecto.proynombre}}</h1>
        </ion-text>
        <ion-item lines="none">
          <div slot="start" class="circle">{{'Juan Diego' | iniciales}}</div>
          <ion-label>
            <ion-text>
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col size="7">
                    <p>
                      <b>Nombre de prueba</b>
                    </p>
                  </ion-col>
                  <ion-col size="5">
                    <p>
                      <ion-text class="ion-padding-start" color="medium">
                        {{proyecto.proyfechacreacion | date: 'yyyy/MM/d'}} </ion-text>
                    </p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-text>
          </ion-label>
        </ion-item>
        <ion-text color="medium">
          <p>{{proyecto.proydescripcion}}</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Inicio Skeleton -->
  <ion-grid class="proyecto" *ngIf="cargando">
    <ion-row>
      <ion-col size="12">
        <ion-text color="dark">
          <h1>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h1>
        </ion-text>
        <ion-item lines="none">
          <div slot="start" class="circle">
          </div>
          <ion-label>
            <ion-text>
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col size="7">
                    <ion-skeleton-text animated width="80%"></ion-skeleton-text>
                  </ion-col>
                  <ion-col size="5">
                    <ion-skeleton-text animated width="80%"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-text>
          </ion-label>
        </ion-item>
        <ion-text color="medium">
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated width="50%"></ion-skeleton-text>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- FIn Skeleton -->

  <ion-item class="tareas" color="light" lines="none">
    <ion-icon mode="md" name="clipboard" slot="start"></ion-icon>
    <ion-label>
      <ion-text>
        <h1><b>Tareas</b></h1>
      </ion-text>
    </ion-label>
  </ion-item>

  <app-tareas [cargando]="cargando" [tareas]="tareas"></app-tareas>

</ion-content>