/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

app-home {
  #cantidad-proyectos {
    background: #fff;
    color: #9f9f9f;
    padding: 1px;
    p {
      margin-left: 15px;
    }
  }
  .proyecto {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 2px #c7c9cd;
    margin-bottom: 10px;
    padding: 10px;
    h2 {
      font-size: 14pt !important;
      //font-weight: bold !important;
    }
    p {
      color: #9f9f9f;
    }
  }
  .searchbar-input.sc-ion-searchbar-md {
    box-shadow: none !important;
  }
}

app-detalle-proyecto {
  #detalle-proyecto {
    background: #fff;
    padding: 10px;
  }
  #tareas {
    h2 {
      margin-bottom: 20px;
    }
    padding: 10px;
    .tarea {
      background: #fff;
      border-radius: 10px;
      box-shadow: 0px 2px 5px #c7c9cd;
      margin-bottom: 10px;
      padding: 10px;
      h3 {
        font-size: 14pt;
      }
    }
  }
}
