/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Contenido
.content{

    background: #F5F7FB;
    height: 100vh;
}

// Tab de navegación
ion-tab-bar{
    background: #0CBAEF;
    ion-tab-button{
        background: #0CBAEF;
        ion-icon{
            color: #FFF !important;
        }
        ion-label{
            color: #FFF;
        }
    }
}

app-home{
    #cantidad-proyectos{
        background: #FFF;
        color: #9F9F9F;
        padding: 1px;
        P{
            margin-left: 15px;
        }
    }
    .proyecto{
        background: #FFF;
        border-radius: 10px;
        box-shadow: 0px 2px 2px #C7C9CD;
        margin-bottom: 10px;
        padding: 10px;
        h2{
            font-size: 14pt !important;
            //font-weight: bold !important;
        }
        p{
            color: #9F9F9F;
        }
    }
    .searchbar-input.sc-ion-searchbar-md{
        box-shadow: none !important;
    }
}

app-detalle-proyecto{
    #detalle-proyecto{
        background: #FFF;
        padding: 10px;
    }
    #tareas{
        h2{
            margin-bottom: 20px;
        }
        padding: 10px;
        .tarea{
            background: #FFF;
            border-radius: 10px;
            box-shadow: 0px 2px 5px #C7C9CD;
            margin-bottom: 10px;
            padding: 10px;
            h3{
                font-size: 14pt;
            }
        }
    }    
}

app-login{
    #logo{
        
        margin-top: 50px;
    }
    form{
        ion-item{
            margin-bottom: 20px !important;
        }
        ion-button{
            span{
                text-transform: lowercase;
            }
        }
    }
    
}