<ion-content>

  <div class="content">

    <div id="buscador">
        <ion-searchbar placeholder="Buscar proyectos"></ion-searchbar>
    </div>

    <div id="cantidad-proyectos">
        <p> {{ proyectos.length }} proyectos disponibles </p>
    </div>

    <div class="ion-padding">

      <div class="proyecto" *ngFor="let proyecto of proyectos" (click)="detalleProyecto(proyecto.proyid)">
          <h2> {{ proyecto.proynombre }} </h2>
          <p> {{ proyecto.proydescripcion }} </p>
          <p> {{ proyecto.proyfechacreacion }} </p>
      </div>
    
    </div>

  </div>

</ion-content>