<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Explorar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="mapp"></div>

  <!-- Descripción general de la tarea -->
  <ion-grid class="proyecto" *ngIf="!cargando">
    <ion-row>
      <ion-col size="12">
        <ion-text>
          <h5>
            <ion-text color="dark" class="ion-padding-end">
              <b>Encuesta*</b>
            </ion-text> {{tarea.tarefechacreacion | date: 'yyyy/MM/d'}}
          </h5>
        </ion-text>
        <ion-text>
          <h1><b>{{tarea.tarenombre}}</b></h1>
        </ion-text>
        <ion-text color="medium">
          <p>{{tarea.taredescripcion}}</p>
        </ion-text>
        <ion-progress-bar class="ion-margin-top" color="warning" value="0.5"></ion-progress-bar>
        <ion-item class="ion-no-padding" lines="none">
          <ion-label slot="start">
            <ion-text color="primary"><b>50%</b></ion-text>
            <ion-text color="medium">
              <b> Progreso</b>
            </ion-text>
          </ion-label>
          <ion-label slot="end">
            <ion-text color="medium">
              <b>50/100*</b>
            </ion-text>
          </ion-label>
        </ion-item>

        <ion-button class="ion-text-uppercase" color="primary" expand="block" (click)="encuesta('id')">
          Realizar encuesta
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>